<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="headers :: common_header(~{::title})">
    <title>Log in</title>
</head>
<body>
<div class="container">
    <div th:if="${param.error}">
        Invalid username and password.
    </div>
    <div th:if="${param.logout}">
        You have been logged out.
    </div>
    <div class="row">
        <h2>LOG IN</h2>
    </div>
    <div class="row">
        <form th:action="@{/login}" method="post">
            <div class="mb-3">
                <div><label class="form-label"> User Name : <input type="text" class="form-control" name="username"/> </label></div>
            </div>
            <div class="mb-3">
                <div><label class="form-label"> Password: <input type="password" class="form-control" name="password"/> </label></div>
            </div>
            <div><input type="submit" class="btn btn-primary" value="Sign In"/></div>
        </form>
        <p>Click <a th:href="@{/registration}">here</a> to register</p>
    </div>
</div>
</body>
</html>